MONGODB_URI=XXXXXXXX
FIRECRAWL_API_KEY=XXXXXXXX

JWT_SECRET=XXXXXXXX
JWT_EXPIRE_DAYS=XXXXXXXX
JWT_REMEMBER_DAYS=XXXXXXXX

GROQ_API_KEY=XXXXXXXX
GEMINI_API_KEY=XXXXXXXX

APIFY_API_TOKEN=XXXXXXXX
ADMIN_PASSWORD=XXXXXXXX

TRIGGER_SECRET_KEY=XXXXXXXX

# New Model Configuration
CONTENT_GENERATION_MODEL=XXXXXXXX
CHATBOT_MODEL=XXXXXXXX
REDIS_URL=XXXXXXXX
UPSTASH_REDIS_REST_URL=XXXXXXXX
UPSTASH_REDIS_REST_TOKEN=XXXXXXXX
